img {
    height: 250px;
    width: 350px;
}

#i1 {
    height: 250px;
    width: 300px;
}

#b1 {
    background-color: blue;
}

header {
    text-align: center;
}

#a1, #a2, #a3 {
    text-decoration-color: yellow;
    color: yellow;
}

h5 {
   color: white;
}

#p1 {
    color: white;
}

li {
    color: blue;
}

#p2, #p3, #p4, #p5 {
    color: blue;
}

h3 {
    color: blue;
}

#z1, #z2, #z3 {
    text-decoration-color: yellow;
    color: yellow;
}

#x1, #x2, #x3 {
    text-decoration-color: white;
    color: white;
}

#b1 {
 background-color: yellow;
}

#tab, #tab1 {
    color: blue;
}
